<div class="jumbotron jumbotron-fluid text-center">
  <div class="container">

    <p class="lead">Product added to your wishlist. You can now set alerts in your wishlist section.</p>

    <a href="/wishlist"><button class="btn btn-info">View Wishlist</button></a>

  </div>
</div>
