<div class="jumbotron jumbotron-fluid text-center">
  <div class="container">

      <h4>Just one click and you're good to go!</h4>
      <a href="/auth/facebook"><button class="btn facebook"><span class="fa fa-facebook-f"></span>&nbsp; Sign in Using Facebook</button></a>
      <a href="/auth/google"><button class="btn google"><span class="fa fa-google"></span>&nbsp; Sign in Using Google</button></a>

  </div>
</div>
