<div class="jumbotron jumbotron-fluid text-center">
  <div class="container">

    <p class="lead">Email alert sent to your email id.</p>

    <a href="/wishlist"><button class="btn btn-info">View Wishlist</button></a>

  </div>
</div>
