<div class="jumbotron jumbotron-fluid text-center">
  <div class="container">

    <p class="lead">Product Title: {{product.title}}</p>
    <p class="lead">MRP: {{product.mrp}}</p>
    <p class="lead">Currrent Price: {{product.current_price}}</p>
    <p class="lead">Currrent Time: {{product.current_time}}</p>

    <a href="/track"><button class="btn btn-primary">Track</button></a>

  </div>
</div>
